body {
    font-family: Vollkorn;
    margin-top: 10px;
}

.box{
    max-width:300px;
    max-height:200px;
}
p {
    max-width:250px;
    background-color:white;
    font-family: sans-serif;
    color:black;
    line-height: 30px;
    margin: 20px 10px 10px 10px;
    font-weight: bold;
}
.z
{ 
    border-color: #6495ED;
    
    border:2px solid black;
    border-radius:2%;
}
.q{
    font-family:Lobster;
}



.center {
    text-align: center;
}


.text-big {
    font-size: 300%;
}

#comment{
    border-style: dotted;

    border: 5px solid black;
    max-width: 200px;
}

.footer{
  margin-top: 70px;


}

.img-medium {
    height: 200px;

}
#login_area{
 position:absolute;
   top:0;
   right:0;   
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    color: black;
    font-family: Raleway;
    padding: 20px 20px 20px 20px;
    

}

